@import '@angular/material/theming';
@include mat-core();
/* ======== Angular material custom themes ======== */

/* For use in src/lib/core/theming/_palette.scss */
$md-aqua: (
    50 : #e1fdfc,
    100 : #b3faf8,
    200 : #81f7f3,
    300 : #4ef3ee,
    400 : #28f1ea,
    500 : #02eee6,
    600 : #02ece3,
    700 : #01e9df,
    800 : #01e7db,
    900 : #01e2d5,
    A100 : #ffffff,
    A200 : #d6fffc,
    A400 : #a3fff9,
    A700 : #8afff7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-orangered: (
    50 : #fde1e2,
    100 : #fab3b6,
    200 : #f78185,
    300 : #f34e54,
    400 : #f1282f,
    500 : #ee020a,
    600 : #ec0209,
    700 : #e90107,
    800 : #e70105,
    900 : #e20103,
    A100 : #ffffff,
    A200 : #ffd6d6,
    A400 : #ffa3a3,
    A700 : #ff8a8a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-custom-primary: mat-palette($mat-cyan);
$my-custom-accent: mat-palette($mat-pink);
$my-custom-warn: mat-palette($mat-lime);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
$my-custom-dark-theme: mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);
@include angular-material-theme($my-custom-dark-theme);
